<div class="sidebar-user">
    <div class="category-content">
        <!-- <div class="media">
            <a class="media-left media_userimg"><img src="assets/images/admin-face.png" class="img-circle img-sm" alt="" /></a>
            <div class="media-body padding-admin" style="padding-top: 9PX">
                <span class="media-heading text-semibold">{{ user_name }}</span>
            </div>
        </div> -->
    </div>
</div>
<!-- /user menu -->

<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">

        <ul class="navigation navigation-main navigation-accordion">

                    <li routerLinkActive="active">
                        <a routerLink="/manage/emp">
                            <i class="fa fa-user"></i>
                            <span class="nav-label ">Manage Employee</span>
                        </a>
                    </li>
        </ul>
    </div>
</div>