.media_userimg img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    margin-right: 8px;
    background: #fff;
    padding: 10px;
}

.big-icon i {
    font-size: 20px;
    float: left;
    color: #c92827;
}

.media_userimg {
    padding-right: 0px !important;
}

.padding-admin {
    padding-top: 19px !important;
}

.hide[style] {
    display: none!important;
}

.show[style] {
    display: block!important;
}